<!doctype html>
<html><head><title>#PROJECT: QC RAW DATA (FastQC)</title>
<script type="text/javascript" language="javascript" src="./html/lytebox.js"></script>
<script type="text/javascript" language="javascript" src="./html/jquery-1.12.0.js"></script>
<script type="text/javascript" language="javascript" src="./html/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="./html/dataTables.colReorder.min.js"></script>
<script type="text/javascript" language="javascript" src="./html/amcharts.js"></script>
<script type="text/javascript" language="javascript" src="./html/xy.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="./html/serial.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="./html/lytebox.css">
<link rel="stylesheet" type="text/css" href="./html/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="./html/style.css">
</head>
<body>
<title>RNA-Seq pipeline (BEDpipe)</title>
<h1>RNA-Seq pipeline (BEDpipe)</h1>
<h2>Project: #PROJECT</h2>
<div id="menu">
#LATMENU
</div>
<div id="content">
<h1>RAW DATA QUALITY CONTROL (FASTQC)</h1>
#TABLE

* Click on the column headers to access the FastQC documentation of the corresponding field.<br>
* Click the underlined links in the table to open the detailed figure corresponding to the sample/statistic of interest.
</div>
</body>
</html>
