<!doctype html>
<html><head><title>#PROJECT: FORMATTED MATRIX LINKS</title>
<script type="text/javascript" language="javascript" src="./html/lytebox.js"></script>
<script type="text/javascript" language="javascript" src="./html/jquery-1.12.0.js"></script>
<script type="text/javascript" language="javascript" src="./html/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="./html/dataTables.colReorder.min.js"></script>
<script type="text/javascript" language="javascript" src="./html/amcharts.js"></script>
<script type="text/javascript" language="javascript" src="./html/xy.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="./html/serial.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="./html/lytebox.css">
<link rel="stylesheet" type="text/css" href="./html/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="./html/style.css">
<script type="text/javascript" class="init">
	$(document).ready(function() {$('#DT').DataTable({
		colReorder: true,
		'scrollY': '400px',
		'scrollCollapse': true,
		'bPaginate': false,
		'bAutoWidth': false,
		'sScrollX': '100%'});});
</script>
</head>
<body>
<title>RNA-Seq pipeline (aRNApipe)</title>
<h1>RNA-Seq pipeline (aRNApipe)</h1>
<h2>Project: #PROJECT</h2>
<div id="menu">
#LATMENU
</div>
<div id="content">
<h1>FORMATTED MATRIX LINKS</h1>
<table>
<thead>
<tr><th align='center' bgcolor='#A8A8A8'>MODULE</th><th align='center' bgcolor='#A8A8A8'>COUNTS / EST COUNTS</th><th align='center' bgcolor='#A8A8A8'>RPKMs/TPMs</th><th align='center' bgcolor='#A8A8A8'>ANNOTATION</th>
</thead>
<tbody>
<tr>
<td align='center' bgcolor='#AFEEEE'>STAR-UNSTRANDED</td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_unstranded_counts.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_unstranded_rpkms.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_annotation.txt" target="_blank">Download</a></td>
</tr>
<tr>
<td align='center' bgcolor='#AFEEEE'>STAR-STRANDED</td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_stranded_counts.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_stranded_rpkms.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_annotation.txt" target="_blank">Download</a></td>
</tr>
<tr>
<td align='center' bgcolor='#AFEEEE'>STAR-REVERSE</td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_stranded-reverse_counts.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_stranded-reverse_rpkms.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#AFEEEE'><a href="../outputs/star_annotation.txt" target="_blank">Download</a></td>
</tr>
<tr>
<td align='center' bgcolor='#00FA9A'>HTSEQ-GENE</td>
<td align='center' bgcolor='#00FA9A'><a href="../outputs/htseq-gene_counts.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#00FA9A'><a href="../outputs/htseq-gene_rpkms.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#00FA9A'><a href="../outputs/htseq-gene_annotation.txt" target="_blank">Download</a></td>
</tr>
<tr>
<td align='center' bgcolor='#00FA9A'>HTSEQ-EXON</td>
<td align='center' bgcolor='#00FA9A'><a href="../outputs/htseq-exon_counts.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#00FA9A'><a href="../outputs/htseq-exon_rpkms.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#00FA9A'><a href="../outputs/htseq-exon_annotation.txt" target="_blank">Download</a></td>
</tr>
<tr>
<td align='center' bgcolor='#DEB887'>KALLISTO</td>
<td align='center' bgcolor='#DEB887'><a href="../outputs/kallisto_est_counts.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#DEB887'><a href="../outputs/kallisto_tpm.txt" target="_blank">Download</a></td>
<td align='center' bgcolor='#DEB887'><a href="../outputs/kallisto_annotations.txt" target="_blank">Download</a></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>