<!doctype html>
<html><head><title>#PROJECT: QC #PROG</title>
<script type="text/javascript" language="javascript" src="./html/lytebox.js"></script>
<script type="text/javascript" language="javascript" src="./html/jquery-1.12.0.js"></script>
<script type="text/javascript" language="javascript" src="./html/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="./html/dataTables.colReorder.min.js"></script>
<script type="text/javascript" language="javascript" src="./html/amcharts.js"></script>
<script type="text/javascript" language="javascript" src="./html/xy.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="./html/serial.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="./html/lytebox.css">
<link rel="stylesheet" type="text/css" href="./html/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="./html/style.css">
<script>
    var chart;
    #DATA
    AmCharts.ready(function () {
        // SERIALL CHART
        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = chartData;
        chart.categoryField = "sample_id";
        chart.plotAreaBorderAlpha = 0.2;
        chart.rotate = false;
        // AXES
        // Category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.gridAlpha = 0.1;
        categoryAxis.labelRotation = 90;
        categoryAxis.axisAlpha = 0;
        categoryAxis.gridPosition = "start";
        // value
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.stackType = "regular";
        valueAxis.gridAlpha = 0.1;
        valueAxis.axisAlpha = 0;
        valueAxis.title = "#LABEL";
        chart.addValueAxis(valueAxis);
        var valueAxis2 = new AmCharts.ValueAxis();
        valueAxis2.position = "right";
        valueAxis2.stackType = "none";
        valueAxis2.gridAlpha = 0.1;
        valueAxis2.axisAlpha = 0;
	valueAxis2.id = "axis2";
        valueAxis2.title = "";
        chart.addValueAxis(valueAxis2);
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.position = "left";
	valueAxis.stackType = "regular";
    	valueAxis.id = "axis1";
        valueAxis.gridAlpha = 0.1;
        valueAxis.axisAlpha = 0;
        valueAxis.title = "Distribution of alignments (N)";
        chart.addValueAxis(valueAxis);
        // GRAPHS
        var graph = new AmCharts.AmGraph(); graph.valueAxis = "axis1"; graph.title = "no_feature"; graph.valueField = "no_feature"; graph.type = "column"; graph.lineAlpha = 0; graph.fillAlphas = 1; graph.lineColor = "#FFA500"; graph.balloonText = "<b><span style='color:#afbb86'>[[title]]</b></span><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>"; graph.labelPosition = "middle"; chart.addGraph(graph); 
	var graph = new AmCharts.AmGraph(); graph.valueAxis = "axis1"; graph.title = "ambiguous"; graph.valueField = "ambiguous"; graph.type = "column"; graph.lineAlpha = 0; graph.fillAlphas = 1; graph.lineColor = "#9D26CD"; graph.balloonText = "<b><span style='color:#afbb86'>[[title]]</b></span><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>"; graph.labelPosition = "middle"; chart.addGraph(graph); 
	var graph = new AmCharts.AmGraph(); graph.valueAxis = "axis1"; graph.title = "too_low_aQual"; graph.valueField = "too_low_aQual"; graph.type = "column"; graph.lineAlpha = 0; graph.fillAlphas = 1; graph.lineColor = "#2B5E54"; graph.balloonText = "<b><span style='color:#afbb86'>[[title]]</b></span><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>"; graph.labelPosition = "middle"; chart.addGraph(graph); 
	var graph = new AmCharts.AmGraph(); graph.valueAxis = "axis1"; graph.title = "not_aligned"; graph.valueField = "not_aligned"; graph.type = "column"; graph.lineAlpha = 0; graph.fillAlphas = 1; graph.lineColor = "#00FFFF"; graph.balloonText = "<b><span style='color:#afbb86'>[[title]]</b></span><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>"; graph.labelPosition = "middle"; chart.addGraph(graph); 
	var graph = new AmCharts.AmGraph(); graph.valueAxis = "axis1"; graph.title = "alignment_not_unique"; graph.valueField = "alignment_not_unique"; graph.type = "column"; graph.lineAlpha = 0; graph.fillAlphas = 1; graph.lineColor = "#69A55C"; graph.balloonText = "<b><span style='color:#afbb86'>[[title]]</b></span><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>"; graph.labelPosition = "middle"; chart.addGraph(graph); 
	var graph = new AmCharts.AmGraph(); graph.valueAxis = "axis1"; graph.title = "TotalCounts"; graph.valueField = "TotalCounts"; graph.type = "column"; graph.lineAlpha = 0; graph.fillAlphas = 1; graph.lineColor = "#B5B8D3"; graph.balloonText = "<b><span style='color:#afbb86'>[[title]]</b></span><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>"; graph.labelPosition = "middle"; chart.addGraph(graph);
        // LEGEND
        var legend = new AmCharts.AmLegend();
        legend.position = "right";
        legend.borderAlpha = 0.3;
        legend.horizontalGap = 2;
        legend.switchType = "v";
        chart.addLegend(legend);
        chart.creditsPosition = "top-right";
        chart.depth3D = 20;
        chart.angle = 30;
        // WRITE
        chart.write("chartdiv");
    });

    // Make chart 2D/3D
    function setDepth() {
        if (document.getElementById("rb2").checked) {
            chart.depth3D = 20;
            chart.angle = 30;
        } else {
            chart.depth3D = 0;
            chart.angle = 0;
        }
        chart.validateNow();
    }
</script>
<script type="text/javascript" class="init">
        $(document).ready(function() {
                $('#DT').DataTable({
                        colReorder: true,
                        'scrollY': '400px',
                        'scrollCollapse': true,
                        'bPaginate': false,
                        'bAutoWidth': true,
                        'sScrollX': '800px'});
        });
</script>
</head>
<body>
<title>RNA-Seq pipeline (BEDpipe)</title>
<h1>RNA-Seq pipeline (BEDpipe)</h1>
<h2>Project: #PROJECT</h2>
<div id="menu">
#LATMENU
</div>
<div id="content">
<h1><hr>#PROG: ALIGNMENT QUALITY METRICS<hr></h1>
<div id="chartdiv" style="width: 100%; height: 300px;"></div>
<div style="margin-left:40px;">
<input type="radio" name="group" id="rb1" onclick="setDepth()">2D
<input type="radio" checked="true" name="group" id="rb2" onclick="setDepth()">3D
</div>
<center>
#TABLE
</center>
The following definitions are extracted from the <a href="http://www-huber.embl.de/HTSeq/doc/count.html#usage" target="_blank">HTseq documentation website</a>:
<ul>
  <li>no_feature: reads (or read pairs) which could not be assigned to any feature (set S as described above was empty).</li>
  <li>ambiguous: reads (or read pairs) which could have been assigned to more than one feature and hence were not counted for any of these (set S had mroe than one element).</li>
  <li>too_low_aQual: reads (or read pairs) which were skipped due to the -a option.</li>
  <li>not_aligned: reads (or read pairs) in the SAM file without alignment.</li>
  <li>alignment_not_unique: reads (or read pairs) with more than one reported alignment.</li>
</ul>
</div></body></html>
